* {
	margin: 0;
	padding: 0;
	border: 0;
}
header {
  background-color: #534C5D;
  text-align: center;
  padding: 2em;
}

main {
  background: #6E657B;
  padding: 4em;
}
h1 {
  color: #fff;
  font-family: 'Permanent Marker', cursive;
  font-size: 3em;
  padding: 1em;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 1.75em;
  color: #fff;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #E5D5FC;
}

ul li {
  list-style-type: none;
  color: #CCBBE5;
  display: inline;
  padding: 2em;
  font-family: 'Quicksand', sans-serif;
}

footer {
  color: #9D90B0;
  background-color: #3F3A47;
  text-align: center;
  padding: 2em;
  font-family: 'Quicksand', sans-serif;
}
